html,
body {
    color: #000;
}

.bg-ocean {
    background-color: #F2F6FF;
}

.text-right {
    text-align: right !important;
    display: block;
}

.ik-container {
    width: 1024px !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.ik-container h1 {
    margin-top: 0px;
    line-height: 35px;
}

.ik-container p {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 500;
    line-height: 20px;
}


.padd-10 {
    padding: 10;
    margin: 10px;
}

.clearer {
    clear: both;
}

.headline-content {
    background: white !important;
    z-index: 1;
    position: relative;
    /* needed for footer positioning*/
    min-height: 100% !important;
    /* real browsers */
}

.ik-sideStrip {
    position: relative;
}

@media (min-width: 1368px) {
    .ik-sideStrip::before {
        content: "";
        display: block;
        background-image: url('../strip.png');
        background-size: 340px 180px;
        width: 340px;
        height: 180px;
        opacity: .5;
        position: absolute;
        bottom: 127px;
        left: -15px;
    }
}

@media (min-width: 600px) and (max-width:1367px) {
    .ik-sideStrip::before {
        content: "";
        display: block;
        background-image: url('../strip.png');
        background-size: 260px 160px;
        width: 260px;
        height: 160px;
        opacity: .5;
        position: absolute;
        bottom: 50px;
        left: -15px;
    }
}

/*-------------------=----------header-----------------------------*/

.header img {
    width: 130px !important;
}

.ikMenu {
    background-color: white;
    border-bottom: none !important;
}

.ikMenu ul {
    display: block;
    text-align: right;
    float: left;
}

.headerLogo {
    display: block;
    margin-left: -20px;
}

/*-------------------=----------header-----------------------------*/


/*-------------------=----------headline-----------------------------*/

.headlineLeft {
    width: 470px;
    float: left;
}

.headlineRight {
    width: 550px;
    float: left;
}

.ik-headline-img {
    width: 500px;
    height: 325px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 999 !important;
}

.ik-sideStrip-headline {
    position: relative;
    z-index: -1;
}

.ik-sideStrip-headline::before {
    content: "";
    display: block;
    background-image: url('../strip.png');
    background-size: 360px 280px;
    width: 360px;
    height: 280px;
    opacity: .3;
    position: absolute;
    top: -10px;
    right: -15px;
    z-index: -1;
}


.ik-date-p {
    font-size: 14px;
    font-weight: bolder;
    color: #1E5DA9;
}

/*-------------------=----------end of headline-----------------------------*/

/*-------------------=----------newTranding-----------------------------*/

.newTranding {
    width: 900px;
    margin-left: 150px;
    margin-right: auto;
    position: relative;
}


.newTranding .panel {
    width: 200px;
    height: auto;
    margin: 10px;
    float: left;
}

.newTranding .panel p {
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    height: 40px;
}

.time {
    font-size: 10px;
    color: #B6B6B6;
}

.newTranding .panel img {
    width: 200px;
    height: 124px;
    border-radius: 5px;
}


/*-------------------=----------End newTranding-----------------------------*/


.ik-newsHeadline-img {
    width: 250px;
    height: 165px;
    border-radius: 5px;
    object-fit: cover;
    z-index: 2 !important;

}

.newsHeadline {
    width: 460px;
    float: left;
}

.newsHeadline .keterangan {
    position: absolute;
    background: #F2F6FF;
    padding: 5px;
    width: 380px;
    margin-top: -80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    height: 72px;
    font-weight: 600;
    font-size: 14px;
}

.news-date {
    font-size: 10px;
    font-weight: 700;
    color: white;
    background-color: #F49445;
    padding: 10px;
}

.newsHeadline p {
    margin-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
}


.newsHeadline img {
    width: 100%;
    height: 345px;
    border-radius: 5px;
    object-fit: cover;
}

.newsGridFourH {
    width: 250px;
    float: left;
    margin: 0px 10px 10px 10px;
}

.newsGridFourH p {
    position: absolute;
    background: #F2F6FF;
    padding: 5px;
    width: 200px;
    margin-top: -58px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    height: 50px;
    font-weight: 600;
    font-size: 11px;
}

.newsLeft {
    width: 670px;
    background-color: white;
    float: left;
    margin: 0px 20px 0px 0px;
}

.newsLeft img {
    width: 200px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
    float: left;
}

.newsLeft .keterangan {
    margin: 0px 10px 0px 215px;
}

.newsLeft .judul {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    margin: 0px;
    color: #333;
    cursor: pointer;
}

.newsLeft .kategori {
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
    color: #1E5DA9;
}

.newsLeft .wrap {
    border-bottom: 5px solid #F2F6FF;
    margin-bottom: 10px;
}

.newsRight {
    width: 300px;
    float: left;
    overflow: hidden;
}

.newsRight img {
    width: 100%;
}

.detailImage {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
}

.imagecaption {
    margin: 10px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #B6B6B6;
}

.judulDetail {
    font-size: 28px;
    line-height: 30px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}

.isi_berita {
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: justify;
}
